

{% block content %}
   {% load static %}
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

<body class="bg-gradient-primary">
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-5">

            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>

                    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                        {% else %}
                        <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}

                  <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                    <label class="col-form-label">User Name:</label>
                      <input type="input" class="form-control" id="InputEmail" name="username"
                      placeholder="Enter User Name..." value="{{ form.username.value|default_if_none:'' }}" />
                    </div>

                    <div class="form-group">
                    <label class="col-form-label">Password:</label>
                      <input type="password" class="form-control" id="InputPassword" name="password"
                      placeholder="Password" value="{{ form.password.value|default_if_none:'' }}" />
                    </div>                   

                    <div>
                    <input class="btn btn-primary btn-user btn-block" type="submit" value="Login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>

{% endblock %}

